.page-heading {
  color: white;
  font-size: 4rem;
  position: relative;
  left: 6.25rem;
  top: 3.75rem;
}

.day-cards__hawaii {
  background-image: url("../assets/Images/hawaii.jpg");
  height: 50rem;
  background-position: center;
  background-size: cover;
  padding: 1.25rem;
}
.day-cards__iceland {
  background-image: url("../assets/Images/iceland.jpg");
  height: 50rem;
  background-position: center;
  background-size: cover;
  padding: 1.25rem;
}
.day-cards__greece {
  background-image: url("../assets/Images/greece.jpg");
  height: 50rem;
  background-position: center;
  background-size: cover;
  padding: 1.25rem;
}

.day-cards {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-around;
}
.day-cards__options {
  height: 24rem;
  width: 16rem;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0px 4px 4px black;
  background-color: white;
  padding: 1.25rem;
  margin-top: 3.75rem;
}
.day-cards__list {
  margin: 0;
  padding: 0;
}
.day-cards__text {
  background-color: #fefaf5;
  padding: 1.25rem;
  text-align: center;
  color: black;
  list-style: none;
  margin-bottom: 1rem;
}
.day-cards__heading {
  text-align: center;
  border-bottom: 2px solid black;
  color: black;
}
