* *::before *::after {
  box-sizing: border-box;
}
body,
html {
  font-family: Verdana;
  color: #335576;
  margin: 0;
  padding: 0;
}

a:visited,
a:link,
a:active {
  text-decoration: none;
  color: black;
}
a:hover {
  border-bottom: 4px solid #db7a4e;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-color: #ffffff;
  margin-right: 6.25rem;
  margin-top: 0;
}
.site-header__nav--heading {
  display: flex;
  justify-items: space-around;
}
.site-header__list {
  margin: 0rem 1.25rem;
  list-style: none;
}
footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #fefaf5;
  padding-left: 12.5rem;
  padding-right: 12.5rem;
}
.footer-image {
  padding-bottom: 0.75rem;
}
.footer-paragraph {
  font-size: 0.75rem;
  color: #db7a4e;
}
.recommendation-heading {
  font-size: 1.375rem;
  margin-left: 6.25rem;
  margin-bottom: 0;
  margin-top: 0;
}
