.hero-section {
  display: flex;
  justify-content: space-between;
  background-color: #fefaf5;
  margin: 0;
  padding: 6rem;
  padding-top: 4rem;
}
.hero-text__heading {
  font-size: 2.5rem;
  text-align: left;
  color: #335576;
}
.hero-image {
  margin-left: 5rem;
  padding-left: 2.5rem;
}
.hero-text__paragraph {
  text-align: left;
  margin-bottom: 5rem;
}
.hero-section__button {
  background-color: #db7a4e;
  padding: 0.75rem 2.5rem;
  border-radius: 3.75rem;
}
a.hero-section__button {
  color: white;
}

.card-navigation {
  display: flex;
  margin-left: 12.5rem;
  margin-right: 12.5rem;
}
.card-section {
  margin-bottom: 3.75rem;
  margin-top: 2.5rem;
}
.card-section__images {
  height: 447px;
  width: 100%;
}
.card-block {
  height: 28rem;
  width: 18.8rem;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0px 4px 4px black;
  position: relative;
  margin: 20px;
}
.card-heading {
  position: absolute;
  right: 1rem;
  bottom: 0;
  color: white;
  font-size: 1.5rem;
}
